html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.main {
    
    display: flex;
    flex-direction: column;

}

.main div{
    height: 170px;
}

.one {
    color: white;
    background-color: #1F2937;
    border: solid red;
    display: flex;
    padding-top: 5px;
    justify-content: center;
}

.one .oneone {
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.one .oneone p{
    border: solid white;
}

.one .oneone .cap {
    font-size: 30px;
    height: 70px;
    width: 140px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.one .oneone .thicc {
    font-size: 10px;
    width: 170px;
    margin-top: 0.1rem;
}

.one .onetwo {
    border: solid green;
    color: white;
    height: 130px;
    width: 210px;
    margin-left: 80px;
    margin-top: 0.5rem;
}

.two {
    background-color: white;
}

.three {
   background-color: #E5E7EB;
}

.four {
    
}

.header {
    height: 25px;
    background-color: #1F2937;
    color: white;
    display: flex;
    gap: 10px;
    
    
}

.header .head1 {
    flex:2 1 0%;
    padding-left: 100px;
}

.header .head2 {
    
    
}

.footer {
    height: 25px;
    background-color: #1F2937;
    color: white;
}