html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.main {
    
    display: flex;
    flex-direction: column;

}

.main div{
    height: 170px;
}

.one {
    color: white;
    background-color: #1F2937;
    display: flex;
    padding-top: 5px;
    justify-content: center;
}

.one .oneone {
    padding-left: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.one .oneone .submit {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: 0;
    font-size: 15px
}

.one .oneone p{
    font-family: Arial, Helvetica, sans-serif;
}

.one .oneone .cap {
    font-size: 30px;
    font-style: Arial, Helvetica, sans-serif;
    height: 70px;
    width: 140px;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

.one .oneone .thicc {
    font-size: 10px;
    width: 170px;
    margin-top: 0.1rem;
}

.one .onetwo {
    
    color: white;
    height: 130px;
    width: 210px;
    margin-left: 80px;
    margin-top: 0.5rem;
}

.two {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.two .container {
    display: flex;
    text-align: center;
    height: 140px;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.two .container .twotwo {
    border: solid #3882f6;
    text-align: center;
    height: 100px;
    width: 100px;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
}

.three {
   background-color: #E5E7EB;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-size: 25px;
   padding: 40px;
}

.four {
    
}

.header {
    height: 25px;
    background-color: #1F2937;
    color: white;
    display: flex;
    gap: 10px;
    
    
}

.header .head1 {
    flex:2 1 0%;
    padding-left: 100px;
    font-size: 23px;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}

.header .head2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.header .head4 {
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    height: 25px;
    background-color: #1F2937;
    color: white;
}